extends layout

block content
  h1.errorMessage
    // wyświetlamy jako HTML text w stringu error.message używając !{HTML}
    | !{error.message} 
    

  form(action="/", method="get")
    button.formButton(type="submit") Strona Główna