extends layout

block content
  if error 
    p.error= error
  form(action="/authenticateUser", method="post")
    label(for="username") Proszę podaj swój nick i hasło:
    br
    input(type="text", name="username" id="username")
    br
    input(type="password", name="password" id="password")
    br
    button.formButton(type="submit") Zaloguj
  br
  br
  form(action="/register" method="get")
    button.formButton(type="submit") Zarejestruj się!