extends layout

block content
    h2.greetingText Witaj#{username ? ', '+username : ''}!
    ul
        if username
            li#uploadImageItem
                a.imageAddLink(href='/uploadImage') Dodaj obrazek
            li#showMinePicturesItem
                a(href=`/logged/wall/${username}`) Pokaż moje obrazki    
        li#showOtherUsersItem
            a(href=`/logged/showUsers`) Pokaż użytkowników
    