extends layout

block content
    form(action="/logout", method="post")
        button.logoutButton(type="submit") Wyloguj #{username}
    br
    a.imageAddLink(href='/uploadImage') Dodaj obrazek
    br
    br
    h2 Witaj, 
    