doctype html
html(lang="pl")
  head
    title STRONA Z OBRAZKAMI
    link(rel="stylesheet", href="/static/css/style.css")
    block headSpace
  body
    if !error
      if calling_user   
        form(action="/logout", method="post")
          button.logoutButton(type="submit") Wyloguj #{calling_user}
      else
        if !hide_login_button
          form(action="/login", method="get")
            button.loginButton(type="submit") Zaloguj się
      
    include includes/header.pug
    div.mainContent
      block content
    include includes/footer.pug