doctype html
html(lang="pl")
  head
    title STRONA Z OBRAZKAMI
  body
    if calling_user   
      form(action="/logout", method="post")
          button.logoutButton(type="submit") Wyloguj #{calling_user}
    include includes/header.pug
    block content
    include includes/footer.pug