doctype html
html(lang="pl")
  head
    title STRONA Z OBRAZKAMI
    link(rel="stylesheet", href="/static/css/style.css")
    block headSpace
  body
    if calling_user   
      if !error
        form(action="/logout", method="post")
          button.logoutButton(type="submit") Wyloguj #{calling_user}
    include includes/header.pug
    div.mainContent
      block content
    include includes/footer.pug