extends layout

block content
  form(action="/register", method="post")
    label(for="username") Podaj swój nick
    br
    input(type="text", name="username")

    label(for="email") Podaj swój nick
    br
    input(type="email", name="email")

    label(for="password")
    br
    input(type="password", name="password")

    br
    button(type="submit") Zarejestruj!
    button(type="reset") Wyczyść formularz!

