extends layout

block headSpace
  script(src="/static/js/validate.js", async)

block content
  form#registerUser(action="/register", method="post", name="userRegistration")
    label.formLabel(for="username") Podaj swój nick
    br
    input.formInput(type="text", name="username")
    br
    label.formLabel(for="email") Podaj swój email
    br
    input.formInput(type="text", name="email")

    br 
    label.formLabel(for="password") Podaj swoje hasło:
    br
    input.formInput(type="password", name="password")

    br
    button.formButton(type="submit", name="register") Zarejestruj!
    button.formButton(type="reset") Wyczyść formularz!

  form(action="/", method="get")
    button.formButton(type="submit") Anuluj

  p.message(id="errorParagraf")

  

