extends layout

block content
  form(action="/uploadImage", method="post", enctype="multipart/form-data")
    label(for="image") Wybierz plik:
    input(type="file", name="image")
    button(type="submit") Wyślij!
    
