extends layout

block content
  form(action="/uploadImage", method="post", enctype="multipart/form-data")
    label.formLabel(for="name") Podaj nazwę pliku:
    br
    input.formInput(type="text", name="name")
    br
    label.formLabel(for="desc")
    br
    textarea.formInput(name="desc", cols="30", rows="10")
    br
    label.formLabel(for="image") Wybierz plik:
    br
    input.fileChooser(type="file", name="image", accept=".jpg, .jpeg, .png", required)
    br
    label(for="category")
    select.selectCategory(required, name="category")
      option(value="") wybierz kategorie
      each category in categories
        option(value=`${category.name}`) #{category.name}
    br
    button.formButton(type="submit") Wyślij!
    
