/*
Whole page
*//*
Background page color
*/
body {
  background-color: #E4EEF0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.homePageLink{
	text-decoration: none;
  color: blueviolet;
  font-size: 25px;
}

.homePageLink:hover{
  color: coral;
  font-size: 25px;
  transition: all 0.3s;
}



@media screen and ( max-width: 899px ){		
  .imagesWallContainer{ 
    display: flex;
    flex-flow: column nowrap;	
    justify-content: center;
  }
}

@media screen and ( min-width: 900px ) { 	/* jeżeli dostępna szerokość jest min 1000px  i max 1199px */
  .imagesWallContainer{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}



.ratingButtonContainer{
	display: flex;														
  flex-flow: row nowrap;
  justify-content: center;
}

.singleImageWallContainer{
  padding: 25px 20px 20px 25px;
}

.logoutButton{
  margin-top: 50px;
  background-color: #E4EEF0;
  border: 2px rgb(202, 62, 34) solid;
  font-size: 1em;
  padding: 8px 10px;
  color: rgb(202, 62, 34);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.logoutButton:hover{
  background-color: rgb(202, 62, 34);
  color:  #E4EEF0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.loginButton{
  margin-top: 50px;
  background-color: #E4EEF0;
  border: 2px rgb(14, 136, 79) solid;
  font-size: 1em;
  padding: 8px 10px;
  color:  rgb(14, 136, 79);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.loginButton:hover{
  background-color: rgb(14, 136, 79) ;
  color:  #E4EEF0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.likeButton{
  border-radius: 25px;
  min-width: 100px;
  margin-top: 50px;
  background-color: #E4EEF0;
  border: 2px rgb(9, 184, 47) solid;
  font-size: 1em;
  padding: 8px 10px;
  color: rgb(9, 184, 47);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.likeButton:hover{
  border-radius: 25px;
  margin-left: 10px;
  min-width: 150px;
  background-color:rgb(9, 184, 47);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.dislikeButton{
  border-radius: 25px;
  margin-left: 10px;
  min-width: 100px;
  margin-top: 50px;
  background-color: #E4EEF0;
  border: 2px #D64226 solid;
  font-size: 1em;
  padding: 8px 10px;
  color: #D64226;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dislikeButton:hover{
  border-radius: 25px;
  min-width: 150px;
  background-color: #D64226;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.addHashTag{
  margin-top: 10px;
}

.hashTagInput{
  background: transparent;
  border: none;
  border-bottom: black solid 1px;
  color: rgb(82, 64, 17);
  margin-right: 4px;
}

.hashTagLabel{
  font-size: 18px;
}

.mainAppLogo{
  max-width: 450px;
}

.userLink{
	text-decoration: none;
  color: blueviolet;
  font-size: 15px;  
}

.userLink:hover{
	text-decoration: none;
  color: coral;
  font-size: 17px;
  transition: all 0.3s;
}

.userListContainer{
  padding: 20px 10px 10px 20px;
}

.singleUserLinkContainer{
  min-height: 20px;
}

/*TODO:SL dodaj iconki zamiast standartowych bulletów*/
#uploadImageItem{
  list-style-type: square;
}

#showMinePicturesItem{
  list-style-type: disc;
}

#showOtherUsersItem{
  list-style-type: armenian;
}

.greetingText{
  color:rgb(128, 27, 141);
}

.errorMessage{
  color: red;
}

@media screen and (max-width: 899px){
  .errorMessage{
    font-size: 15px;
  }
}

@media screen and (min-width: 900px){
  .errorMessage{
    font-size: 25px;
  }
}

/* FORM */

.formLabel, .message, .hashTagLabel{
  color: rgb(71, 71, 71);
}


.formInput{
  margin-top: 10px;
  border: 2px inset rgb(75, 75, 75);
  color:rgb(75, 75, 75);
  background-color:rgba(255, 254, 255, 0.589);
}

.formButton{
  margin-top: 20px;
  margin-right: 5px;
  min-width: 150px;
  padding:5px 15px; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
  background-color: rgb(61, 61, 61);
}

.formButton:hover{
  background-color: rgb(75, 75, 75);
}

.fileChooser{
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
  margin-top: 20px;
  margin-right: 5px;
  min-width: 200px;
  background-color: rgb(61, 61, 61);
  color: #FFF;
}

.selectCategory{  
  border-radius: 5px; 
  margin-top: 20px;
  margin-right: 5px;
  min-width: 200px;
  min-height: 25px;
  text-align: center;
  background-color: rgb(61, 61, 61);
  color: #FFF;
}



/* header*/

header{
}

/* main content */

.mainContent{
}

/* footer */

.footerParagraph{
   color: rgba(137, 106, 141, 0.425);
}

footer{
}

  /*  user wall page */

.imageName{
  font-size: 50px;
  color:  rgb(61, 61, 61);
}

.imageDesc{
  font-size: 15px;
  color:  rgb(61, 61, 61);
}

.categoryName{
  font-size: 25px;
  color:  rgb(61, 61, 61, 0.8);
}

.imageRatingNeutral{
  color:grey;
}

.imageRatingPositive{
  color:rgb(21, 114, 21);
}

.imageRatingNegative{
  color:rgb(143, 14, 14);
}

.imageOwner{
  color:rgba(63, 39, 87, 0.5);
  font-size: 25px;
}


@media screen and ( max-width: 899px ){		
  .wallImage{
    max-width: 500px;
  }
}

@media screen and ( min-width: 900px ){		
  .wallImage{
    max-width: 400px;
  }


.message{
  color:rgba(53, 34, 124, 0.8);
  font-size: 25px;
}

